@import 'app/_utils/variables';

@import 'app/components/header';
@import 'app/components/main';
@import 'app/components/description';
@import 'app/components/last-event';
@import 'app/components/tabs';
@import 'app/components/events-club';
@import 'app/components/gallery';
@import 'app/components/photos';
//@import 'app/components/login';
@import 'app/components/menu';
@import 'app/components/events';
@import 'app/components/footer';
@import 'app/components/apart-hotel';
@import 'app/components/rooms';
@import 'app/components/banner';
@import 'app/views/home';
@import 'app/views/responsive';
@import 'app/components/modal';



*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .7);
  // font-family: Main;
  font-family:sans-serif;
}

a { text-decoration: none }
button { border: none }

input[type=number] { text-align: center }
input[type=text] { text-indent: 10px }
