
@import 'app/views/home';

@import 'app/components/main';
@import 'app/components/menu';
@import 'app/components/header';




*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  // font-family: Main;
  font-family: sans-serif;
}

a { text-decoration: none }
button { border: none }
