.apartHotel__main
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &__banner
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background: url('../../../static/images/room.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    &--title
    {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .bed-icon
      {
        width: 5em;
        fill: $white;
        margin-bottom: 2%;
      }

      h1
      {
        color: $white;
        font-size: 4em;
        font-weight: 890;
      }
    }
  }

  &__text
  {
    width: 50%;
    font-size: 1.4em;
    margin-top: 5%;
    line-height: 1.2em;

    p { margin-top: 1.3% }
    b { color: $medium-grey }
    .last-text { color: $alpha-grey }
  }

  &__choiceRoom
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;

    .border
    {
      width: 50%;
      padding: .4em 0;
      background: $dark-orange;
    }

    .choiceText
    {
      margin-top: .6em;
      font-size: 2.4em;
      color: $alpha-grey;
    }
  }
}
