.description
{
  margin-top: 1%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &--img
  {
    width: 12em;
  }

  &__container
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    text-align: center;
    margin-top: 2%;

    &--text
    {
      margin-top: 2%;
      font-size: $text;
    }

    .slogan
    {
      margin-top: 4%;
      font-size: $text + .1em;
    }

  }
}

.weDesign{
  color: $pink;
  font-size: $title;
  margin-top: 3%;
}

.divider
{
  margin-top: 10%;
  width: 8em;
  background: $pink;
  height: 5px;
}

.pitaya-logo
{
  width: 9em;
  margin-top: -5%;
}
