.events-club
{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .divider { margin-top: 5%}

  &__main
  {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &--title{
      margin-top: 3%;
      font-size: $title;
      text-transform: uppercase;
    }
  }
}

.yourEvent
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;

  .divider { margin: 3% }

  &--title
  {
    font-size: $title;
    margin-bottom: 3%;
  }

  &__card
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    width: 79%;
    background: rgba(0, 0, 0, .02);

    &__image
    {
      width: 50%;
      height: 100%;

      &--img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content
    {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      width: 50%;
      height: 100%;

      &--name
      {
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 1em;
        margin-top: 10%;
        color: rgba(0, 0, 0, .6);
      }

      &--desc
      {
        width: 60%;
        font-size: $text + .225em;
        color: rgba(0, 0, 0, .4);
      }
    }

  }
}
