.main-footer
{
  background: $light-grey;
  width: 100%;
  margin-top: 5%;
  padding: 1.2% 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;

  &__social
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 12%;

    &--logo
    {
      opacity: .4;
      width: 5em;
      margin-bottom: 1.2em;
    }

    &--icons
    {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      width: 100%;
      opacity: .4;
      .icon
      {
        border-radius: 50%;
        width: 2.2em;
        cursor: pointer;
      }
    }
  }

  &__contact
  {
    display: flex;
    flex-direction: column;
    margin-left: -3%;
    width: 25%;

    &__item
    {
      &:nth-child(1){ margin: 0}
      margin-top: 1.3em;
      display: flex;
      flex-direction: row;
      align-items: center;

      &--text
      {
        margin-left: 1.8%;
        // font-weight: $bold;
      }
      &--icon
      {
        fill: rgba(0, 0, 0, .4);
        width: 1.8em;
      }
    }
  }

  &__navigation
  {
    display: flex;
    flex-direction: column;

    &--title
    {
      color: rgba(0, 0, 0, .6);
      font-size: $title;
      font-weight: 400;
    }

    &--item
    {
      color: rgba(0, 0, 0, .4);
      margin-top: .9em;
    }
  }


  &__button
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;

    &--btn
    {
      font-size: $subtitle - .1em;
      font-weight: $bold;
      color: $pink;
      padding: .8em;
      border-radius: 2px;
      cursor: pointer;
      span
      { color: rgba(0, 0, 0, .4) }
    }

  }


}
