@media( max-width: 1680px ){

}



@media( max-width: 1600px ){
  .description__container { width: 55% }
  .pitaya-logo
  {
    margin-top: .5%;
    width: 7.8em;
  }
}


@media( max-width: 1440px ){
  .description--img { width: 8.5em}
  .description__container
  {
    width: 40%;
    &--text
    {
      &:nth-child(2){ margin-top: 6.5%; }
    }
    .divider{ margin-top: 8%; }
  }
  .main-footer
  {
    font-size: .85em;
    &__social{ width: 13%}
    &__contact{ width: 28%}
  }
}

@media ( max-width: 1366px ){
  .head { padding: .3em 1em }
  .head__img { width: 3em;}
  .active-item > .mark { top: 2.3em }

  .last-event__box { height: 15em }
  .room-container > .box { width: 60%}

  .last-event__box
  {
    width: 35%;
    height: 13em;
  }

}


@media( max-width: 800px ){

  .description--img { width: 7em }
  .description__container { width: 90% }

  .menu
  {
    height: 10em;
    margin-top: 10%;
    &__container__content--icon { width: 2.2em }
    &__container__content--title { font-size: 1.2em}
  }

  .last-event
  {
    margin-top: 10%;
    &__title{ font-size: 1.2em }
    &__box
    {
      width: 65%;
      &__info--title { font-size: 1.1em }
    }

      &__text { width: 75% }
  }

  .room-container > .box { width: 90% }
  .card-carousel--card { width: 50% }
  .photos__container__items--item { height: 10em }
  .yourEvent__card
  {
     height: 60vh;
     &__content--desc { width: 90% }
  }

   .gs { margin-top: 10% }
}
