@media( max-width: 1680px ){

}



@media( max-width: 1600px ){
  .description__container { width: 55% }
  .pitaya-logo
  {
    margin-top: .5%;
    width: 7.8em;
  }
}


@media( max-width: 1440px ){
  .description--img { width: 8.5em}

  .main-footer
  {
    font-size: .85em;
    &__social{ width: 13%}
    &__contact{ width: 28%}
  }
}

@media ( max-width: 1366px ){
  .head { padding: .3em 1em }
  .head__img { width: 3em;}
  .active-item > .mark { top: 2.3em }

  .last-event__box { height: 15em }
  .room-container > .box { width: 60%}
}
