$white: #fff;
$black: #000;
$gold: #fcc449;
$blue: #3869fc;
$brown: #453917;
$pink: #de0d72;

$light-shadow: #ccc;
$light-grey: #ddd;

$medium-grey: #827c6c;
$alpha-grey: #918573;

$dark-orange: #f2bb61;
$dark-pink: #d90f3e;
$dark-blue: #113a7c;



$bold: 550;
$title: 1.5em;
$subtitle: 1.3em;
$text: .95em;

//font for medium screens
$title-ms: 1.3em;
$subtitle-ms: 1.155em;
$text-ms: .9em;

//modal
$full-size: 100%;
$dark-grey: #6a6f75;
$default-size: 1.1em;
$medium-border: solid 1.5px;
$input-indent: 10px;
$light-border: solid 1px;
$clear-blue: #5c6d97;

